
<div class="text-center">
    <form method="post">
        <label>FirstName: </label><input type="text" name="FirstName"/><br/>
        <label>LastName: </label><input type="text" name="LastName" /><br />
        <label>Email: </label> <input type="email" name="Email" /><br />
        <input type="submit"/>
    </form>
    <p color="red">@ViewBag.ErrorMessage</p>
</div>
